<template>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="panel panel-default">
        <div class="panel-body">
          <form @submit.prevent="create">
            <div class="form-group">
              <label>File</label>
              <input type="file" class="form-control" @change="imageChanged">
            </div>

            <div class="form-group">
              <label>Name: </label>
              <input name="name" type="text" class="form-control" v-model="product.name"
              v-validate="'required'">
              <div class="help-block alert alert-danger" v-show="errors.has('name')">{{ errors.first('name') }}</div>
            </div>

            <div class="form-group">
              <label>Price: </label>
              <input type="number" name="price" class="form-control" v-model="product.price"
              v-validate="'max_value:50|max_value:1'">
              <div class="help-block alert alert-danger" v-show="errors.has('price')">{{ errors.first('price') }}</div>
            </div>

            <div class="form-group">
              <label>Description: </label>
              <textarea class="form-control" name="description" v-model="product.description" v-validate="'required'"></textarea>
              <div class="help-block alert alert-danger" v-show="errors.has('description')">{{ errors.first('description') }}</div>
            </div>

            <div class="form-group">
              <input type="submit" value="Create" class="btn btn-success pull-right">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    data() {
      return {
        product: {
          name: '',
          price: 0,
          description: '',
          image: '',
        }
      }
    },

    methods: {
      imageChanged(e) {
        var fileReader = new FileReader()

        fileReader.readAsDataURL(e.target.files[0])
        fileReader.onload = (e) => {
          this.product.image = e.target.result
        }
      },

      create() {
        this.$validator.validateAll().then(() => {
          this.$http.post('api/products', this.product)
            .then(res => {
              this.$router.push('/feed')
            })
        })
      }
    }
  }
</script>
