<template>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="form-group">
            <label>Name: </label>
            <input type="text" name="name" class="form-control" v-model="product.name">
          </div>

          <div class="form-group">
            <label>Price: </label>
            <input type="number" name="price" class="form-control" v-model="product.price">
          </div>

          <div class="form-group">
            <label>Description: </label>
            <textarea class="form-control" name="description" v-model="product.description"></textarea>
          </div>

          <div class="form-group">
            <button class="btn btn-success pull-right" v-show="product.name && product.price && product.description" @click="update">Update</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import swal from 'sweetalert'
  export default {
    data() {
      return {
        product: {}
      }
    },

    created() {
      this.getProduct()
    },

    methods: {
      getProduct() {
        this.$http.get('api/products/'+this.$route.params.product)
          .then(res => {
            this.product = res.body
          }).catch(res => {
            this.$router.push('/feed')
          })
      },

      update() {
        this.$http.put('api/products/'+this.$route.params.product, this.product)
          .then(res => {
            this.$router.push('/feed')
          })
      }
    }
  }
</script>
