<template>
  <div class="col-md-4">
    <div class="thumbnail">
      <img :src="'http://localhost:8000/'+product.image">
      <div class="caption">
        {{ product.user_id }}
        <h3>{{ product.name }}</h3>
        <p>{{ product.price }}</p>
        <hr>
        <p>
          <a href="#" class="btn btn-default">
            Wish list
          </a>
          <a href="#" class="btn btn-success">
            Buy
          </a>
        </p>
        <br>
        <p>
          <a href="#" class="btn btn-danger"
            v-if="product.user_id == authenticatedUser.id" role="button"
            @click="$emit('delete-product')"
          >Delete</a>

          <router-link class="btn btn-success"
            :to="'/products/' + product.id + '/edit'"
          >Edit</router-link>
        </p>
      </div>
    </div>
    {{ product.name }} | {{ product.price }}
  </div>
</template>

<script>
  export default {
    props: ['product', 'authenticatedUser'],
  }
</script>

<style>
  /*.thumbnail {
    background-color: blue;
  }*/
</style>
