<template>
  <div class="row">
    <product
      :authenticatedUser="authenticatedUser"
      v-for="product in products"
      @delete-product="deleteProduct(product)"
      :product="product">
    </product>
  </div>
</template>

<script>
  import swal from 'sweetalert'
  import Product from './Product.vue'

  export default {
    components: {
      'product': Product
    },

    data() {
      return {
        products: [],
      }
    },

    methods: {
      deleteProduct (product) {
        swal({
          title: "Are you sure?",
          text: "Once deleted, you will not be able to recover this product!",
          icon: "warning",
          buttons: true,
          dangerMode: true,
        })
        .then((willDelete) => {
          if (willDelete) {
            this.$http.delete('api/products/' + product.id)
              .then(res => {
                let index = this.products.indexOf(product)
                this.products.splice(index, 1)
                swal("Your product has been deleted!", {
                  icon: "success",
                });
              })
          }
        });
      }
    },

    computed: {
      authenticatedUser () {
        return this.$auth.getAuthenticatedUser()
      }
    },

    created () {
      this.$http.get('api/products')
        .then(res => {
          this.products = res.body
        })
    }
  }
</script>
