<template>
  <div>
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email" v-model="email">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" v-model="password">
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox"> Check me out
      </label>
    </div>
    <button @click="login" type="submit" class="btn btn-default">Submit</button>
  </div>
</template>

<script>
  export default {
    data() {
      return {
        email: '',
        password: '',
      }
    },

    methods: {
      login() {
        var data = {
          client_id: 2,
          client_secret: 'M2tRdQ2aaAMa74SHBGxao4eeso6Qh8Lv3E5Gv2E1',
          grant_type: 'password',
          username: this.email,
          password: this.password,
        }
        this.$http.post('oauth/token', data)
          .then(response => {
            this.$auth.setToken(response.body.access_token, response.body.expires_in + Date.now())
            this.$router.push('/feed')
          })
      }
    }
  }
</script>

<style>
  
</style>
