<template>
  <form>
    <div class="form-group">
      <label for="inputName">Name</label>
      <input type="email" class="form-control" id="inputName" placeholder="Name" v-model="name">
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email" v-model="email">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" v-model="password">
    </div>
    <button type="submit" class="btn btn-default">Register</button>
  </form>
</template>

<script>
  export default {
    data() {
      return {
        name: '',
        email: '',
        password: '',
      }
    }
  }
</script>

<style>
  
</style>
